%% vim: syntax=erlang

{cover_enabled, true}.
{deps, [
  {protobuffs, ".*", {git, "git://github.com/basho/erlang_protobuffs.git", "a6a4e85f659f8f36b60cb66fee7a2b3e49accf27"}},
  {proper,     ".*", {git, "git://github.com/manopapad/proper.git", "43a576f8b930f9a9d472e9fd5955dd0b0469bf4a"}}
  ]}.
{clean_files, [".eunit", "ebin/*.beam", "test/*.beam", "c_src/proto/*.pb.*", "bin/*"]}.
{require_otp_vsn, "R15B|R15B01|R15B02|R15B03"}.
{sub_dirs, ["apps/amber", "apps/amber_client", "rel"]}.


{erl_opts, [
            debug_info, 
            fail_on_warning
           ]}.

{port_env, [
	{"CC",       "g++"},
	{"CFLAGS",   "-x c++ -static -pedantic -W -Wall -Wextra -Wshadow -Wformat -Winit-self -Wunused -Wfloat-equal -Wcast-qual -Wwrite-strings -Winline -Wstack-protector -Wunsafe-loop-optimizations -Wlogical-op -Wmissing-include-dirs -Wconversion -Wmissing-declarations -Wno-long-long"},
	{"LDFLAGS",  "-lm"}
]}.
