%% vim: syntax=erlang

{cover_enabled, true}.
{deps, [
  {protobuffs, ".*", {git, "http://github.com/basho/erlang_protobuffs.git", "a6a4e85f659f8f36b60cb66fee7a2b3e49accf27"}},
  {proper,     ".*", {git, "http://github.com/manopapad/proper.git", "43a576f8b930f9a9d472e9fd5955dd0b0469bf4a"}}
  ]}.
{require_otp_vsn, "R15B|R15B01|R15B02|R15B03"}.
{sub_dirs, ["apps/amber", "apps/amber_client", "rel"]}.
{lib_dirs, ["deps"]}.


{erl_opts, [
            debug_info
            , fail_on_warning
           ]}.

