{lib_dirs, ["../../deps"]}.

{port_specs, [ {"linux", "priv/mediator_mock", ["c_src/mocks/mediator_mock.cpp"]}
             %, {"linux", "priv/mediator_mock", ["c_src/mediator_mock.cpp"]}
             ]}.
{port_env, [
  {"CC", "g++"}
  , {"CXX", "g++"}
  , {"CXXFLAGS", "-static -pedantic -W -Wall -Wextra -Wshadow -Wformat"
                 " -Winit-self -Wunused -Wfloat-equal -Wcast-qual -Wwrite-strings"
                 " -Winline -Wstack-protector -Wunsafe-loop-optimizations"
                 " -Wlogical-op -Wmissing-include-dirs -Wconversion"
                 " -Wmissing-declarations -Wno-long-long"}
  , {"CFLAGS", "$CXXFLAGS"}
  , {"LDFLAGS", "-lm"}
  , {"EXE_CFLAGS" , ""}
  , {"EXE_LDFLAGS", ""}
]}.
