% Patrz: config.hrl
%%                   Module         MID                          Config
{supervised_node,   {udpserver,    {udpserver}},                []}.

%%                   Module         MID                  DevTI   Config
{supervised_driver, {driver,       {roboclaw}},          {2, 0}, ["roboclaw_driver"]}.
