% Patrz: config.hrl
%%                   Module         MID                          Config
%{supervised_node,   {udpserver,    {udpserver}},                []}.

%%                   Module         MID                  DevTI   Config
%{supervised_driver, {qc_node_echo, {qc_driver_echo_a}}, {2, 3}, []}.


