% Patrz: config.hrl
%%                   Module         MID                          Config
{supervised_node,   {udpserver,    {udpserver}},                []}.

%%                   Module         MID                  DevTI   Config
%{supervised_driver, {driver,       {roboclaw}},          {2, 0}, [
%	{cdriver, "/home/michal/dev/amber/amber-drivers/roboclaw-driver/bin/roboclaw_driver"},
%	{config_file, "/home/michal/dev/amber/amber-drivers/roboclaw-driver/driver/roboclaw.conf"},
%	{log_config_file, "/home/michal/dev/amber/amber-drivers/roboclaw-driver/driver/roboclaw.log.conf"}
%	]}.

% {supervised_driver, {driver,       {stargazer}},         {3, 0}, [{cdriver, "apps/amber/priv/stargazer_driver"}]}.
% {supervised_driver, {driver, 	     {ninedof}},           {1, 0}, [{cdriver, "apps/amber/priv/ninedof_driver"}]}.
