% Patrz: config.hrl
%%                   Module         MID                          Config
{supervised_node,   {udpserver,    {udpserver}},                []}.

%%                   Module         MID                  DevTI   Config

%{supervised_driver, {driver,       {roboclaw}},          {2, 0}, [
%	{cdriver, "../amber-drivers/roboclaw-driver/bin/roboclaw_driver"},
%	{config_file, "../amber-drivers/roboclaw-driver/roboclaw.conf"},
%	{log_config_file, "../amber-drivers/roboclaw-driver/roboclaw.log.conf"}
%	]}.

%{supervised_driver, {driver,       {ninedof}},          {1, 0}, [
%	{cdriver, "../amber-drivers/ninedof-driver/bin/ninedof_driver"},
%	{config_file, "../amber-drivers/ninedof-driver/ninedof.conf"},
%	{log_config_file, "../amber-drivers/ninedof-driver/ninedof.log.conf"}
%	]}.

