% Patrz: config.hrl
%                   Module         MID                          Config
{supervised_node,   {udpserver,    {udpserver}},                []}.
{supervised_node,   {qc_node,      {qc_node_a}},                []}.
{supervised_node,   {qc_node,      {qc_node_b}},                []}.

%                   Module         MID                  DevTI   Config
{supervised_driver, {qc_node_echo, {qc_driver_echo_a}}, {2, 3}, []}.
%{supervised_driver, {qc_node_collector, {qc_node_collector}}, {3, 4}, []}.